.create-user {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-user .block {
    display:flex;
    flex-direction: column;
    padding:2%;
    width:80%; 
}

.create-user .block * {
    text-align: center;
}